body {
  font-family: sans-serif;
  background-image: url('./images/stars-bg.jpg');
  background-size: cover;
  max-width: 100%;
  max-height: 2400px;
  background-color: purple;
}

.roomFormBG {
  background-image: url('./images/golden-ktv-bg.jpg');
  background-size: cover;
  max-width: 100%;
  min-height: 800px;
  background-color: purple;
}

.roomForm {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 1000;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
