@font-face {
  font-family: 'new-led';
  src: url('./fonts/new-led.ttf') format('truetype');
  font-weight: 400;
}

body {
  font-family: 'new-led';
}

div {
  font-family: 'new-led', monospace;
}

p {
  font-family: 'new-led', monospace;
}

a {
  text-decoration: none;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
h3 {
  padding: 10px;
  font-family: 'new-led', monospace;
  font-size: 16px;
}

input {
  font-size: 10px;
  font-family: 'new-led', monospace;
  padding: 7px;
}

input[type='text'],
.messages-wrapper {
  font-size: 10px;
  font-family: 'new-led', monospace;
}

html {
  background-image: url('./images/golden-ktv-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: purple;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'new-led', monospace;
  color: #aaaaaa;
  opacity: 1; /* Firefox */
}

.roomForm {
  font-family: 'new-led', monospace;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.roomFormBG {
  font-family: 'new-led', monospace;
}

.button {
  font-family: 'new-led', monospace;
  padding: 10px;
}

:link {
  padding: 10px;
  align-items: center;
}

.login-component {
  text-align: center;
}

.container {
  min-width: 100%;
  font-family: 'new-led';
  /* display: flex;
  justify-content: space-between; */
}

.search-res {
  overflow: scroll;
  width: 275px;
  height: 400px;
  font-family: 'new-led', monospace;
  color: #aaaaaa;
  padding: 10px;
  font-size: 10px;
}
.queue-card {
  overflow: scroll;
  width: 275px;
  height: 300px;
  max-height: 400px;
  font-family: 'new-led', monospace;
  color: #aaaaaa;
  padding: 5px;
  font-size: 10px;
  justify-content: start;
}

.message-box {
  border: 2px dotted;
  border-color: #ffdd57;
  width: 275px;
  height: 200px;
  font-family: 'new-led', monospace;
  color: #ffffff;
  padding: 10px;
  font-size: 10px;
  overflow: scroll;
  align-items: flex-end;
}

#left-sidebar {
  overflow: scroll;
  height: 100vh;
  position: absolute;
  left: 0px;
  flex-grow: 1;
  float: left;
  background-color: #456567;
  opacity: 0.6;
}

#main-player {
  left: 25.25%;
  top: 27%;
  position: fixed;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#right-sidebar {
  height: 100vh;
  position: absolute;
  right: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #456567;
  opacity: 0.6;
  align-items: flex-end;
}
#vol-dur {
  background-color: #ffdd57;
}
