@font-face {
  font-family: 'new-led';
  src: url('./fonts/new-led.ttf') format('truetype');
  font-weight: 400;
}

body {
  font-family: 'new-led';
  background-image: url('./images/stars-bg.jpg');
  background-size: cover;
  max-width: 100%;
  max-height: 2400px;
  background-color: purple;
}

div {
  font-family: 'new-led', monospace;
}

.roomFormBG {
  font-family: 'new-led', monospace;
  background-image: url('./images/golden-ktv-bg.jpg');
  background-size: cover;
  max-width: 100%;
  min-height: 800px;
  background-color: purple;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'new-led', monospace;
  opacity: 1; /* Firefox */
}

p {
  font-family: 'new-led', monospace;
}

.roomForm {
  font-family: 'new-led', monospace;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 1000;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'new-led', monospace;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
